body {
    color: #1A1A1A;
    max-width:680px;
    margin: 0 auto;
}

h1 {
    font-weight:400;
    color:#5ea268;
    text-align: center;
}

h2 {
    font-weight:400;
}

a {
    color: #1761A8;
    text-decoration: none;
}

a:hover {
    color: #2B75BC;
    text-decoration: underline;
}

p,ul,ol,dl,code,pre {
    line-height: 160%;
}

.section {
#background-color:yellow;
    padding:0px 10px;             /* 상하, 좌우 */
    margin:50px 0px;              /* 상하, 좌우 */
}

.fwidth {
    width:100%;
}

.submit-button{
    text-align:center;
}

.submit-button input{
    height: 40px;
    width: 80px;
}

table{
#    background-color:blue;
    width:100%;
}

td{
    padding:5px 0px;            /* 상하, 좌우 */
}

.alert{
    color:#BF223D;
}